/* média query */
@media only screen and (min-width: 260px) {
        .log_container {
            display: flex;
            margin-left: 5vw;
            margin-right: 5vw;
            padding: 0 5vw;
            box-sizing: border-box;
            flex-direction: column;
            background: #fff;
            padding-bottom: 5vw;
            }

        #escolha{
            display: flex;
            visibility: visible;
            flex-wrap: wrap;
            flex-direction: column;
        }

        #escolha .botao{
            margin-top: 2vw;
        }

        #cadastro{
            display: none;
        }

        #login{
            display: none;
        }

        .form-in{
            background-color: #ebebeb;
            padding: 2vw;
        }

        .rotulo{
            padding: 5px;
            border: none;
            transition: all 1s;
            margin: 4vw;
            background: #fff;
            }
        #label_n, #label_e, #label_s, #label_t, #label_nl, #label_sl{
            display: none;
            }
        .reset{
            border: none;
            height: 5vw;
            padding-left: 1vw;
            background: #fff;
            width: 95%;
            }

        .reset:focus{
            outline:  none;
        }

        .botao-acao{
            float: right;
            margin-right: 4vw;
        }    

        .botao-cancela{
            float: left;
            margin-left: 4vw;
        }

        .abaixo{
            padding-top: 0;
        }

        .separador{
            display: flex;
            justify-content: center;
            align-items: baseline;
            width: 100%;
        }
        .separador-item span{
            margin: 0 2vw;
            font-style: italic;
        }

        .bt-sys{
            margin-bottom: .5vw;
        }

        .bt-rs{
            background-color: #fff;
        }

        .aceite{
            font-size: .5rem;
            margin: 4vw;
        }
        
        .ck-connect{
            margin: 4vw;
            font-size: 1rem;
        }

        .marca-p h1{
            text-align: center;
            background: -webkit-linear-gradient(#910011 33%,#e2001b 33%,#910011 33%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

}

@media only screen and (min-width: 901px) {
    #topo-login{
        width: 54vw;
        align-self: center;
    }

    #escolha{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .form-in{
        width: 53vw;
        align-self: center;
    }
    .borda-falsa-login {
        width: 57vw;
        align-self: center;
    }
}