{% extends "layout.html" %}

{% block content %}

    <!-- content -->
    <main id="main-content">
        <section id="title">
            <div class="borda-falsa"></div>
            <h1>Formas de ajudar</h1>
        </section>
        <section id="content">
            <div  class="card">
                <h3>Doação em Dinheiro</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim eaque exercitationem rerum consequatur aliquam illo
                    ullam nesciunt quas aliquid, minus, illum, voluptas ad?
                Ducimus, cupiditate molestiae tenetur reiciendis debitis ut.</p>
                <button type="submit">Doar</button>
            </div>
            
            <div class="card">
                <h3>Doação de produto/serviço</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim eaque exercitationem rerum consequatur aliquam illo
                    ullam nesciunt quas aliquid, minus, illum, voluptas ad?
                Ducimus, cupiditate molestiae tenetur reiciendis debitis ut.</p>
                <button type="submit">Doar</button>
            </div>
            
            <div class="card">
                <h3>Comprar produto/serviço</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim eaque exercitationem rerum consequatur aliquam illo
                    ullam nesciunt quas aliquid, minus, illum, voluptas ad?
                Ducimus, cupiditate molestiae tenetur reiciendis debitis ut.</p>
                <button type="submit">Loja</button>
            </div>
            <div class="borda-falsa"></div>
        </section>
    </main>
    <!-- /content -->
    
{% endblock %}